


<div class="row">
	<div class="main">
    <div class="row">
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="emp/logon" role="button">Logon to Radii Employee Portal</a>
</div>

</div>

		<br/>
		<br/>
		<ul>
			<li> <strong>Stateful Toggle</strong> </li>
				<ul>
					<li>
						The cheveron rotates as the menu collapses. This tells the user that the meaning of the icon has changed, and that clicking on it again will make the button perform an action differently. In this case, the menu will re-expand.
					</li>
				</ul>
			</li>
		</ul>
		
		
		<ul>
			<li> <strong>Animated Collapse</strong></li>
				<ul>
					<li>
						The transition of the width & fading of the labels tells the user the menu options didn't just disappear or get cut in half. The menu slides to the left and the labels fade out to convey to the user that the menu is collapsing to give them more screenspace.
					</li>
				</ul>
			</li>
		</ul>
</div>
	</div>
