<!-- 1. Add Person to Collection -->


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Who to have access rights</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Terms of usage</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">

  <form class="well form-horizontal" action="/questions/create" method="post" id="level_create">
    <fieldset>

      <!-- Form Name -->
      <legend>
        <center>
          <h2><b>Question Entry Form</b></h2>
        </center>
      </legend><br>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Parent Subject Id</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="subjectId" readonly id="subjectId" class="form-control" type="text" value={{subject}}>
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Question Caption</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="question" id="question" placeholder="The description" class="form-control"
              type="text">
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Which option do you want to choose?</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Question_type" id="exampleRadios1" value="objective" checked>
            <label class="form-check-label" for="exampleRadios1">
              Objective
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Question_type" id="exampleRadios2" value="descriptive">
            <label class="form-check-label" for="exampleRadios2">
              Descriptive
            </label>
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Answer caption</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

            <textarea class="form-control" name="answer" id="answer" rows="3"></textarea>

          </div>
        </div>

      </div>
      <div class="form-group">

        <label class="col-md-4 control-label">Answer options::One is Mandatory</label><br>
        <div class="col-md-4 inputGroupContainer">
          <div id="answers">
            <p> Option 1</p>
            <input type="checkbox" id="correct1" name="correct1" checked>
            <textarea required name="answer1" id="answer1" rows="5" class="form-control" required
              placeholder="What is the Answer">

                </textarea> <br>
          </div> <br>
          <hr>
          <input id="newOption" type="button" class="btn btn-secondary btn-block" value="Add another text input"
            onClick="addOption('answers');"> 

        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Support URI [optional]</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input name="uri" id="uri" placeholder="The description" class="form-control"
              type="url">



          </div>

        </div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label">Score</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select name="score" id="score" class="form-control selectpicker">
              <option class="dropdown-item disabled" value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
            </select>
          </div>
        </div>
      </div>

      {{!-- <!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="user_email" id="user_email" placeholder="E-Mail Address" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Password</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="user_password" id="user_password" placeholder="Password" class="form-control"  type="password">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Confirm Password</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="confirm_password" id="confirm_password" placeholder="Confirm Password" class="form-control"  type="password">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Contact No.</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="contact_no" id="contact_no" placeholder="(+91)" class="form-control" type="text">
    </div>
  </div>
</div> --}}


      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit"
            class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span
              class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
        </div>
      </div>
      <!-- the ending stats -->
    </fieldset>
  </form>
</div><!-- /.container -->
<script>
  // jquery form validator
  // adding shorthands
  document.getElementById("newOption").accessKey = "n";
  //custom scripts

  var counter = 1;
  var limit = 4;
  function addOption(divName) {
    if (counter == limit) {
      alert("You have reached the limit of adding " + counter + " inputs");
    }
    else {
      var newdiv = document.createElement('div');
      // newdiv.classList.add('menu-div');
      newdiv.innerHTML = "<p>Option " + (counter + 1) + " </p><br><input type='checkbox' name='correct" + (counter + 1) + "' id='correct" + (counter + 1) + "'> <textarea rows='5' class='form-control'  name='answer" + (counter + 1) + "'> </textarea>";
      document.getElementById(divName).appendChild(newdiv);
      counter++;
    }
  }

  // for text area dynamic resizing
  var observe;
  if (window.attachEvent) {
    observe = function (element, event, handler) {
      element.attachEvent('on' + event, handler);
    };
  }
  else {
    observe = function (element, event, handler) {
      element.addEventListener(event, handler, false);
    };
  }
  function loadTArea(ids) {
    for (var i = 0; i < ids.length; i++) {
      var text = document.getElementById(ids[i]);
      function resize(el) {
        //el.style.height = 'auto';
        //el.style.height = text.scrollHeight+'px';
      }
      /* 0-timeout to get the already changed text */
      function delayedResize() {
        window.setTimeout(resize, 0);
      }
      observe(text, 'change', resize);
      observe(text, 'cut', delayedResize);
      observe(text, 'paste', delayedResize);
      observe(text, 'drop', delayedResize);
      observe(text, 'keydown', delayedResize);
      text.focus();
      text.select();
      resize(text);
    }

  }
  function resizeTextarea() {
    //this.style.height = 'auto';
    //this.style.height = this.scrollHeight + 'px';
  }
  var text = document.getElementsByTagName("textarea");
  for (var x = 0; x < text.length; x++)
    text[x].onkeyup = resizeTextarea;

</script>