<!-- 1. Add Person to Collection -->
<div id="1" class="menu-div" style="display:block">
    <form method="POST" action="/question" >

        <span>all the levels available to the system</span><hr><br>
        <!-- this is for making the Question -->
            <label>Level caption:: Mandatory</label>
            <input name="question" rows="5" rows="5" style="height:5em;" id ="Question body" required placeholder="What is the Grade for the students in this" ></input> <br>
            <label>The unique label for the level you are creating:: Mandatory</label>
            <input type="text" name="score" required id ="score" class="field-divided" placeholder="the score for this Question"   required/>
           
    </form>

    <label >Response:</label>
    <textarea name="response" id ="response"  readonly> 
        {{!-- {{
            toJson ui/data
        }} --}}
         </textarea>
</div>